@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.related-products-header {
  margin-bottom: 0.75rem;
}

.related-products-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.your-outfit-container {
  padding: 2rem;
}

.related-products-placeholder {
 height: 680px;
 width: 300px;
 border: 1px solid black;
}

.related-products-container ul,
.outfit-products-container ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.related-card-container,
.outfit-card-container {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  max-width: 300px;
  max-height: 680px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 0.5rem;
}

.related-card-container > div,
.outfit-card-container > div {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.related-card-container > div:hover,
.outfit-card-container > div:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.related-action-btn,
svg {
  display: inline-block;
  vertical-align: middle;
}

.related-action-btn > svg {
  font-size: 20px;
}

.related-action-btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  border: none;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  color: black;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 50%;
  text-align: center;
  font-size: 17px;
}

.outfit-action-btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  border: none;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  color: black;
  cursor: pointer;
  padding: 0.3rem 0.4rem;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
}

.fit-action-btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  border: none;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  color: black;
  cursor: pointer;
  padding: 0.3rem 0.4rem;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
}

.outfit-action-btn:hover {
  opacity: 0.8;
}

/* IMAGE */

.related-image-container {
  position: relative;
  flex: 4;
  max-width:100%;
  max-height:100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.outfit-image-container {

}


.related-product-img {
  max-height: 60%;
  max-width: 100%;
  width: 300px;
  height: 400px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.outfit-product-img {
  max-height: 100%;
  max-width: 100%;
  width: 300px;
  height: 400px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* ACTION */

.related-action-btn svg {
  pointer-events: none;
}

.related-action-btn:hover {
  opacity: 0.8;
}


.related-image-container,
.outfit-image-container {
  width: 300px;
  height: auto;
  position: relative;
}

/* INFO */

.related-card-info,
.outfit-card-info {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  padding: 0.8rem;
  line-height: 1.2rem;
}

.related-product-name,
.outfit-product-name {
  font-weight: bold;
  font-size: 16px;
}

.related-product-price,
.outfit-product-price {
  font-size: 13px;
}

.related-original-price,
.outfit-original-price {
  text-decoration: line-through;
  color: red;
}

.related-product-stars div {
  position: relative;
  font-size: 12px;
}

.faded {
  opacity: 0.7;
}

/* MODAL */

.related-modal {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 500px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.related-modal-container {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 40%;
  display: flex;
  min-width: 450px;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
}

svg {
  pointer-events: none;
}


.hidden {
  display: none;
}

.close-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.close-related-modal-btn {
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  background-color: #1565c0;
  color: white;
  border: 0.2px solid #fefefe;
  transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
  font-size: 16px;
}

.modal-table {
  border-spacing: 1rem;
}

.close-related-modal-btn:hover {
  opacity: 0.85;
}

.skinny-text {
  font-weight: 100;
}

.med-text {
  font-weight: 300;
}

.modal-comparing-heading {
  font-size: 14px;
}

.modal-heading {
  font-size: 18px;
  margin-bottom: 2rem;
}

/* CAROUSEL */

.related-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: inline-block;
}


.related-scroll-btn-left {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
  margin-left: 0.5rem;
  cursor:pointer;
}

.related-scroll-btn-right {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
  margin-right: 0.5rem;
  cursor:pointer;
}

.related-scroll-btn-right:hover,
.related-scroll-btn-left:hover {
  opacity: 0.8;
}

/* HOVER */

.hover {
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.hover:hover .hover__no-hover {
  opacity: 1;
}
.hover:hover .hover__hover {
  opacity: 1;
}
.hover__hover {
  position: absolute;
  margin-top: 0.5rem;
  right: 0;
  opacity: 0;

}
.hover__no-hover {
  opacity: 1;
}

.tooltip {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #fefefe;
  background-color: white;
  font-size: 16px;
  width: 5rem;
  padding: 0.2rem;
  pointer-events: none;
}

tr {
  display: flex;
}

th {
  flex: 1;
  margin-top: 0.3rem;
}