#eachScoreListing_5 {
  display: inline-block;
  height: 10px;
  width: 70%;
  background-color: rgb(182, 182, 182);
  border-radius: 50;
  margin-right: 5px;
  margin-top: 10px;
}

.eachScoreListing_fill {
  height: 100%;
  background-color: rgb(50, 50, 50);
  border-radius: inherit;
}

.eachScoreListing_percentage {
  padding: 5;
  color: white;
  font-weight: bold;
}

.eachScorelisting_stars:hover {
  background: rgb(164, 164, 164);
}

.eachScoreListing_body {
  font-size: 15px;
  color: rgb(75, 75, 75);
}

.starNumber {
  width: 15%;
  margin-right: 5px;
}

.eachScoreCount {
  color: rgb(75, 75, 75);
  font-size: 14px;
  width: 15%;
}

.eachScoreWrapper {
  margin-bottom: 10px;
}

.eachScoreListing {
  margin-bottom: 20px;
}