.Product-InfoAll {
  margin-top: 50px;
}

.Product-Info-Top {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}
.star-Component-top {
  display: flex;
  flex-direction: row;
}

.star-rating-top {
  align-self:center;
}

.view-total-reviews {
  margin-left: 1%;
  align-self: center;
  color: black;
}

.product-category {
  font-size: 24px;
  font-weight: 100;
}

.product-name {
  font-size: 40px;
  font-weight: bold;
}

.Share-Buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 7rem;
  font-size: 35px;
}

.fa-facebook-square {
  color: rgb(66, 103, 178);
  cursor:pointer;
}

.fa-twitter-square {
  color: rgb(29, 161, 242);
  cursor:pointer;
}

.fa-pinterest-square {
  color: rgb(230, 0, 35);
  cursor:pointer;
}


.Product-Info-Mid {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
  grid-template-rows: 50px 90px 90px 90px;
  /* column-gap: 1px;
  row-gap: 1px; */
  /* flex-flow: wrap; */
  grid-template-areas:
  "title title title title"
  "img img img img"
  "img img img img"
  "img img img img";
}

.Style-Selection {
  width: 85%;
  height: 85%;
  object-fit: cover;
  object-position:50% 50%;
  border-radius: 50%;
  grid-area: img;
  border: 1px solid black;
}

.Style-Selection:hover {
  opacity: .88;
}

.Style-Title {
  grid-area: title;
  margin-top: 18px;
  font-weight: 300;
}

.isSale {
  text-decoration: line-through;
}

.salePrice {
  color: red;
}

.fa-check-circle {
  font-family: fontAwesome;
}
.Style-Wrapper {
  position: relative;
}

.checkmark-active {
  left: 65px;
  position: absolute;
  height: 50px;
  width: 50px;
  display: inline-block;
}
/*Product Info Bottom*/
.Product-Info-Bottom {
  /* border: 1px solid black; */
  width: 30rem;
  /* width: 400px; */
}

.Cart-Container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 1px 60px 60px;
  column-gap: 2rem;
  row-gap: 1rem;
  grid-template-areas:
  "error error"
  "size quantity"
  "cart favorite";
}

.Quantity-Options {
  width: 120px;
  height: 60px;
  grid-area: quantity;
  border-radius: 4px;
  cursor: pointer;
}

.Size-Options {
  grid-area: size;
  width: 200px;
  height: 60px;
  border-radius: 4px;
  cursor: pointer;
}

.size-error {
  grid-area: error;
  color: red;
}
.add-to-cart {
  grid-area: cart;
  width: 260px;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: white;
  color: black;
  border-radius:4px;
  transition: .3s ease;
}

.favorite-star, .fa-star {
  grid-area: favorite;
}

.favorite-star {
  width: 60px;
  margin-left: 60px;
  background-color: white;
  font-size: 40px;
  border-radius: 4px;
}

.fa-star {
  color: black;

}