.qa-flex-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.qa-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.qa-header {
    background-color: yellow;
    height: 30px;
}

.qa-search {
    width: 100%;
    position: relative;
    display: flex;
}

.qa-search-bar {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    background-color: none;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    outline: none;
}

.qa-list::-webkit-scrollbar {
    width: 20px;
}

.qa-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.qa-list::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.qa-list::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

.qa-list {
    display: flex;
    flex-direction: column;
    max-height: 35rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.individual-question-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.individual-q-btn-container {
    display: flex;
    flex-direction: row;
}

// QUESTION MODAL

.question-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 500px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.question-modal-container {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    display: flex;
    min-width: 450px;
    justify-content: center;
    flex-direction: column;
}

.qa-hidden {
    display: none;
}

.question-modal-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.4rem 1.0rem;
}

.modal-question {
    padding: 5px;
    height: 100px;
    width: 100%;
}

.modal-question-label {
    padding: 5px;
    width: 170px;
}

// ANSWER MODAL

.answer-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 500px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.answer-modal-container {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    display: flex;
    min-width: 450px;
    justify-content: center;
    flex-direction: column;
}

.answer-modal-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.4rem 1.0rem;
}

.modal-answer {
    padding: 5px;
    height: 100px;
    width: 100%;
}

.modal-photos {
    padding: 5px;
    width: 170px;
}

.modal-answer-label {
    padding: 5px;
    width: 170px;
}

// COMMON

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0.5rem;
}

.modal-submit-btn {
    padding: 0.4rem 1.0rem;
    cursor: pointer;
    background-color: #1565c0;
    color: white;
    border: 0.2px solid #fefefe;
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
    width: 80px;
}

.modal-submit-btn:hover {
    opacity: 0.85;
}

.close-question-modal-btn {
    padding: 0.4rem 1.0rem;
    cursor: pointer;
    background-color: #1565c0;
    color: white;
    border: 0.2px solid #fefefe;
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
    width: 80px;
}

.close-question-modal-btn:hover {
    opacity: 0.85;
}

.modal-name {
    padding: 5px;
    width: 170px;
}

.modal-email {
    padding: 5px;
    width: 170px;
}