* {
    padding: 0;
    margin: 0;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 1.0rem 1rem;
    align-items: center;
    background-color: rgb(50, 50, 50);
    color: white;
  }
  
  .footer-links {
      display: flex;
      flex-direction: row;
  }

  .home {
      padding-right: 90px;
      cursor: pointer;
      background-color: transparent;
      outline: none;
      border: none;
      color: white;
      font-size: 16px;
  }

  .home:hover {
      font-weight: bold;
  }

  .about-us {
      padding-right: 90px;
      cursor: pointer;
      background-color: transparent;
      outline: none;
      border: none;
      color: white;
      font-size: 16px;
    }

    .about-us:hover {
        font-weight: bold;
    }

  .services {
      padding-right: 90px;
      cursor: pointer;
      background-color: transparent;
      outline: none;
      border: none;
      color: white;
      font-size: 16px;
  }

  .services:hover {
      font-weight: bold;
  }

  .join-us {
      padding-right: 90px;
      cursor: pointer;
      background-color: transparent;
      outline: none;
      border: none;
      color: white;
      font-size: 16px;
  }

  .join-us:hover {
      font-weight: bold;
  }

  .contact-us {
      cursor: pointer;
      background-color: transparent;
      outline: none;
      border: none;
      color: white;
      font-size: 16px;
  }

  .contact-us:hover {
      font-weight: bold;
  }

  .ending {
      padding-top: 20px;
  }