.writeReviewNickName {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  margin-top: 10px
}

.writeReviewNickName_label {
  width: 300px;
  color: #373737;
  margin-right: 10px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 1px;
}

#writeReviewNickName_input {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.writeReviewNickName_warning {
  width: 100%;
  color: rgb(189, 189, 189);
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 15px;
  text-align: right;
}