.writeReviewRecommendation_title {
  color: #373737;
  margin-right: 10px;
  font-size: 15px;
  margin-bottom: 5px;
}

.writeReviewRecommend_Yes_input {
  color: #575757;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 10px;
}

.writeReviewRecommend_Yes_label {
  color: #575757;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.writeReviewRecommend_No_input {
  color: #575757;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.writeReviewRecommend_No_label {
  color: #575757;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}