.Image-Component {
  grid-area: Image;
  position: relative;
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: 50px;
  margin-top: 25px;
  background-color: rgb(163, 159, 159);
}
.Main-Image-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: auto;
  height: auto;
}
.Main-Image {
  width: 450px;
  height: auto;
}

.Thumbnail-Arrow-Container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Thumbnail-Container{
  /* position: relative; */
  display: flex;
  flex-direction: column;
  max-height: 81%;
  overflow-y: scroll;
  overflow: hidden;
}
.Thumbnail-Wrapper {
  z-index: 10;
  width: 75px;
  height: 75px;
  margin: 5px;
}

.Thumbnail-Photo {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position:50% 50%;
  border: 1px solid black;
  /* scale: 120% */
}

.selectActive {
  background-color: yellow;
}

i {
  font-family: fontAwesome;
  z-index: 12;
  display: inline-block;
}
.fa-angle-up, .fa-angle-down {
  font-size: 29px;

}
.fa-angle-down {
  align-self: center;
}

.fa-angle-up {
  align-self: center;
  min-height: 5px;
}

.top-arrow-hidden, .bottom-arrow-hidden {
  visibility: hidden;
}

