.reviewBodyBox{
  margin: 5px;
}

.reviewBodyBox_review{
  border: 1px solid black;
  margin-bottom: 5px;
}

.starRating {
  position: relative;
  font-size: 12px;
}

.reviewBodyBox_img {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  padding: 1px;
}

.reviewBodyBox_thumbnail {
  margin: 5px;
}

.reviewBodyBox{
  max-height: 35rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.reviewImageUpload_buttons_header {
  width: 80%;
}

.reviewBodyTile {
  width: 50%;
  display: inline-block;
}