.reviewBodyBox{
  margin: 5px;
}

.reviews{
  border: 1px solid black;
  margin-bottom: 5px;
}

.starRating {
  position: relative;
  font-size: 12px;
}

.reviewImgMap {
  max-width: 100px;
  border: 1px solid black;
  padding: 1px;
}

.reviewImgThumbnails {
  margin: 5px;
}