* {
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  /* padding: 1.5rem 2rem; */
  padding-right: 30px;
  align-items: center;
  /* padding: 0 1rem; */
  background-color: rgb(50, 50, 50);
  color: white;
  /* width: 100%; */
}

.search-input {
  border: none;
  border-bottom: 2px solid white;
  font-size: 20px;
  background-color: rgb(50, 50, 50);;
  color: white;
}

.search-input-btn {
  border: none;
  background: transparent;
  font-size: 20px;
  color: white;
  margin-left: 0.5rem;
}

.domLogo {
  width: 220px;
  margin: 10px;
  margin-left: 30px;
}

@media screen and (max-width: 680px) {
  .search-input,
  .search-input-btn { display: none }
}