.Overview-Section {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 750px 1fr;
  column-gap: 1%;
  row-gap: 1%;
  flex-flow: wrap;
  grid-template-areas:
  "Image ProductInfo"
  "Description";
}

.Product-InfoAll {
  grid: productInfo;
}

.Description {
  grid: description;
}